@model IEnumerable<ik.Models.Ozluk_IseGirisEvrak>
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 50px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

@{
    ViewBag.Title = "_PersonelGirisEvrak";
    Layout = "~/Areas/KVKK/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("tcno",(string)ViewBag.tcNo)




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ozluk_IseGirisGerekEvrakTip.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mevcut)
        </th>
        <th>
            Dosyalar
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detay)
        </th>
        <th>
            İşlemler
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-kayit-id="@item.id">
            <td>
                @Html.DisplayFor(modelItem => item.Ozluk_IseGirisGerekEvrakTip.ad)
            </td>
            <td>
                <input type="checkbox" data-toggle="toggle" value="@item.mevcut" data-on="<i class='fa fa-play'></i> Mevcut" data-off="<i class='fa fa-pause'></i> Mevcut Değil">
            </td>
            <td>
                <div class="dosyalar">
                    @foreach (var resim in item.Ozluk_IseGirisEvrakUrl)
                    {
                        <div class="gallery">
                            <a target="_blank" href="@Url.Content("~/"+resim.url)">
                                <img src="@Url.Content("~/"+resim.url)"  width="50" >
                            </a>
                           
                        </div>
                    }
                </div>
            </td>
            <td>
                <input type="text" class="detay" value="@item.detay"/>
                @*@Html.TextBox("detay", item.detay)*@
            </td>
            <td>

                <div class="row">
                    <div  class="col-sm-10 islem">
                            @*<button title="Dosya Yükle" type="button" class="btn btn-default uploadgoster" aria-label="Left Align">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            </button>*@
                        
                    </div>
                    <div class="col-sm-2">
                        <input type="button" value="Kaydet" class="btn btn-primary" />
                    </div>
                </div>
            </td>
        </tr>
    }

</table>

@section scripts{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">
        
        function LoadProgressBar(result,islem) {
            var progressbar =islem.find(".progressbar-5");
            var progressLabel = $(".progress-label");
            progressbar.show();
            $(progressbar).progressbar({
                //value: false,
                change: function () {
                    progressLabel.text(
                        progressbar.progressbar("value") + "%"); // Showing the progress increment value in progress bar
                },
                complete: function () {
                    progressLabel.text("Loading Completed!");
                    progressbar.progressbar("value", 0); //Reinitialize the progress bar value 0
                    progressLabel.text("");
                    progressbar.hide(); //Hiding the progress bar
                  ;
                    var content = '@Url.Content("~")' +result;
                    console.log(content);
                    islem.closest('tr').find('.dosyalar').append('<div class="gallery"><a target="_blank" href="'+content+'"><img width="50"  src="' + content + '" /></a></div>');
                    //var markup = "<tr><td>" + result + "</td><td><a href='#' onclick='DeleteFile(\"" + result + "\")'><span class='glyphicon glyphicon-remove red'></span></a></td></tr>"; // Binding the file name
                    //$("#yuklenendosyalar tbody").append(markup);
                    islem.find('.iptalislem').trigger('click');
                    $('#Files').val('');
                    $('#FileBrowse').find("*").prop("disabled", false);
                }
            });

            function progress() {
                var val = progressbar.progressbar("value") || 0;
                progressbar.progressbar("value", val + 1);
                if (val < 99) {
                    setTimeout(progress, 25);
                }
            }

            setTimeout(progress, 100);
        }


        function dosyayukle(kayitid,islem) {
            var fileUpload = islem.find(".Files").get(0);
            var files = fileUpload.files;
            // Create FormData object
            var fileData = new FormData();
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            var tcno = $('#tcno').val();
           

            var url = '@Url.Action("DosyaYukle","Upload",new {Area=""})';
            url = url + '/?tc=' + tcno + '&kayitid=' + kayitid;
            console.log(url);

            $.ajax({
                url: url,
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                async: false,
                success: function (result) {
                    if (result != "") {
                        $('#FileBrowse').find("*").prop("disabled", true);
                        LoadProgressBar(result,islem); //calling LoadProgressBar function to load the progress bar.
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });



        }


        function dosyayukleekle(islemdiv) {
            islemdiv.html('<button title="Dosya Yükle" type="button" class="btn btn-default uploadgoster" aria-label="Left Align"> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> </button>');

            $('.uploadgoster').each(function () {
                var btn = $(this);
                btn.on('click', function () {



                    var islem = btn.closest('.islem');
                    islem.html(' <div  class="col-sm-8 yukleislem"> <input type="file" class="Files"/> </div> <div class="col-sm-2">   ' +
                        '<input type="button" class="btn btn-danger UploadBtn" value="Yükle"/></div><div class="col-sm-2"> ' +
                        '<button class="iptalislem">İptal</button> </div>' +
                        '<div class="row"> <div class="col-sm-12"><div class="progressbar-5"> <div class="progress-label"> </div> </div> </div> </div>');
                    var iptal = islem.find('.iptalislem');
                    iptal.on('click', function () {
                        dosyayukleekle(iptal.closest('.islem'));
                    });

                    islem.find('.UploadBtn').on('click', function () {
                        var kayitid= islem.closest('tr').attr('data-kayit-id');
                        dosyayukle(kayitid,islem);
                    });

                });
            });
        }

        $(function() {
            $('.islem').each(function() {
                var islem = $(this);
                dosyayukleekle(islem);
            });


        });
    </script>
}
