@model WSY.Models.Harcama

<div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
    @Html.LabelFor(model => model.harcamaTip)
    @Html.DropDownListFor(model => model.harcamaTip, (SelectList)ViewBag.HarcamaTipListe, "Harcama Tipi Seçiniz.",new{@class="form-control col-lg-6 col-md-6 col-sm-6 col-xs-6"})
    @Html.ValidationMessageFor(model => model.harcamaTip)
</div>

<div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
    @Html.LabelFor(model => model.harcamaTarih)
    @Html.TextBoxFor(model => model.harcamaTarih, new { @class = "datefield form-control col-lg-6 col-md-6 col-sm-6 col-xs-6" })
    @Html.ValidationMessageFor(model => model.harcamaTarih)
</div>

<div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
    @Html.LabelFor(model => model.harcama)
    @Html.TextBoxFor(model => model.harcama, new { @class = "form-control col-lg-6 col-md-6 col-sm-6 col-xs-6", @placeholder = "Harcama Tutarı" })
    @Html.ValidationMessageFor(model => model.harcama)
</div>

<div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
    @Html.LabelFor(model => model.not)
    @Html.TextAreaFor(model => model.not,new { @class = "form-control col-lg-6 col-md-6 col-sm-6 col-xs-6", @placeholder = "Ek Bilgi" })
    @Html.ValidationMessageFor(model => model.not)
</div>
