@model IEnumerable<ik.Models.DataClasslari.YarimIzinEkleVM>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belgeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitiş)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
            <tr data-izinID="@item.izinID">
                <td>
                    @Html.DisplayFor(modelItem => item.yil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.belgeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.baslangic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bitiş)
                </td>
                <td>
                    @Html.HiddenFor(m => item.izinID) @Html.HiddenFor(m => item.personelID)
                    <div class="yarimtamamla"></div>
                </td>
            </tr>
       
    }

</table>

<script type="text/javascript">
    $(function () {
        $('#yarimtablo > table> tbody>tr').each(function (i) {
            if (i > 0) {
                var tr = $(this);
                //yarım izin yılı
                var yıl = tr.find("td:nth(0)").html().trim();
                console.log(yıl);
                //üst tabloda yılı bul kalanı yarım eksilt
                $('#result>tr').each(function () {
                    var trr = $(this);
                    if (trr.find("td:nth(0)>a").html().trim() === yıl) {
                        //alert();
                        var kalan = trr.find("td:nth(3)");
                        console.log(kalan);
                        var izin = parseFloat(kalan.html());
                        kalan.html(izin - 0.5);
                        var tkalan = $('#toplamkalan');
                        tkalan.html(parseFloat(tkalan.html()) - 0.5);
                    }
                  
                });
            }
        });


        var id = $('#item_personelID').val();
        //var izinid = $('#item_izinID').val();

        $('.yarimtamamla').each(function () {
            var row = $(this);
            var izinid = row.closest('tr').attr('data-izinid');
            row.MakeDialogForm({
                id: 'btnyarimekle',
                text: 'Yarım İzin Ekle',
                url: '@Url.Action("_YarimIzinEkle")' + '/?id=' + id + '&izinid=' + izinid,
                title: 'yarım izin Title',
                updateurl: '@Url.Action("_PersonelYarimIzinListele")' + '/?id=' + id,
                bclass: 'btn btn-success',
                targetid: 'yarimtablo',
                width: '500',
                height: '400',
                complete: function () {
                    alert("sonunda tamamlandı on yarimtamamla");
                }
            });
        });
    });
</script>
