@model IEnumerable<ik.Models.DataClasslari.YarimIzinEkleVM>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belgeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitiş)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-izinID="@item.izinID" >
            <td>
                @Html.DisplayFor(modelItem => item.yil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.belgeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baslangic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bitiş)
            </td>
            <td>
                @Html.HiddenFor(m => item.izinID) @Html.HiddenFor(m => item.personelID)
                <div class="yarimtamamla"></div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(function () {

        var id = $('#item_personelID').val();
        //var izinid = $('#item_izinID').val();

        $('.yarimtamamla').each(function() {
            var row = $(this);
            var izinid = row.closest('tr').attr('data-izinid');
            row.MakeDialogForm({
                id: 'btnyarimekle',
                text: 'Yarım İzin Ekle',
                url: '@Url.Action("_YarimIzinEkle")' + '/?id=' + id + '&izinid=' + izinid,
                title: 'yarım izin Title',
                updateurl: '@Url.Action("_PersonelYarimİzinListele")' + '/?id=' + id,
                bclass: 'btn btn-success',
                targetid: 'yarimtablo',
                width:'500',
                height:'400',
                complete: function () {
                    alert("sonunda tamamlandı");
                }
            });
        });



        @*$('#yarimtamamla').MakeDialogForm({
            id: 'btnyarimekle',
            text: 'Yarım İzin Ekle',
            url: '@Url.Action("_YarimIzinEkle")' + '/?id=' + id + '&izinid=' + izinid,
            title: 'yarım izin Title',
            updateurl: '@Url.Action("_PersonelYarimİzinListele")' + '/?id=' + id,
            bclass: 'btn btn-success',
            targetid: 'yarimtablo',
            complete: function () {
                alert("sonunda tamamlandı");
            }
        });*@
    });
</script>
