@model IEnumerable<ik.Models.DataClasslari.PersonelIzinYilDetayVM>
@Html.Hidden("PDKSID", (int)ViewBag.PDKSID)
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Başlangıç)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bitiş)
        </th>
        <th>@Html.DisplayNameFor(model => model.Gün)</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Başlangıç.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bitiş.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gün)
    </td>
    <td><input type="button" data-id="@item.id" class="btnsil btn btn-danger btn-sm" value="Sil" /></td>
    <td><input type="button" data-id="@item.id" class="btnedit btn btn-warning btn-sm" value="Düzenle" /></td>
</tr>
    }
    <tr bgcolor="#FF0000">
        <td colspan="2">TOPLAM</td>
        <td>@Model.Sum(c => c.Gün)</td>
    </tr>
</table>


<script src="~/Scripts/bootstrap-dialog.js"></script>
<script type="text/javascript">
    $(function () {
        $('.btnedit').each(function () {
            var btn = $(this);

        });


        $('.btnsil').each(function () {
            var btn = $(this);
            btn.on('click', function () {
                BootstrapDialog.confirm('Kayıt silinecek ona göre', function (result) {
                    if (result) {

                        var pdksid = $('#PDKSID').val();
                        var ID = $('#ID').val();
                        var tarih1 = $(btn.closest('tr').find('td>span>span')[0]).text();
                        var tarih2 = $(btn.closest('tr').find('td>span>span')[1]).text();
                        var izinid = btn.data("id");
                        console.log(pdksid);
                        console.log(tarih1);
                        console.log(tarih2);
                        console.log(izinid);
                        // alert('Sil Gitsin');
                        //pdks kayıtlarını sil PDKS id tarih1 tarih2
                        $.ajax({
                            url: '@Url.Action("IzinSil","Pdks")',
                            type: 'POST',
                            data: {
                                pdksid: pdksid, tarih1: tarih1, tarih2: tarih2
                            },
                            success: function (result) {
                                if (result.Succees) {
                                    //ik kaydını sil
                                    $.ajax({
                                        url: '@Url.Action("IzinSil","Izin")',
                                        type: 'GET',
                                        data: {
                                            id: ID,
                                            izinid: izinid
                                        }, success: function (res) {

                                        }
                                    });
                                }
                                //silme başarılı is
                                //ik izin kaydını sil
                            }
                        });
                        //ik kaydını sil

                    } else {
                        alert('Dur');
                    }
                });
            });
        });

    })
</script>
