@model IEnumerable<ik.Models.DataClasslari.YarimIzinEkleVM>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belgeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitiş)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
            <tr data-izinID="@item.izinID">
                <td class="yil">
                    @Html.DisplayFor(modelItem => item.yil)
                </td>
                <td class="belgeno">
                    @Html.DisplayFor(modelItem => item.belgeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.baslangic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bitiş)
                </td>
                <td>
                    @Html.HiddenFor(m => item.izinID) @Html.HiddenFor(m => item.personelID)
                    <div class="yarimtamamla"></div>
                </td>
            </tr>
       
    }

</table>

<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.contextMenu.min.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/izin.js"></script>
@*<script src="~/Scripts/DialogForm.js"></script>*@
<script src="~/Scripts/ikdialog.js"></script>
<script type="text/javascript">
    $(function () {
        $.contextMenu({
            selector:'.belgeno',
            items: {
                puantajyap: {
                    name:'Mazeret Gir',
                    callback: function (key, options) {
                        var td = options.$trigger;
                        var izinid = td.closest("tr").attr("data-izinID");
                        $.ajax({
                            async:true,
                            url: '@Url.Action("MazeretIzinEkle","Pdks")',
                            type:'GET',
                            data: {
                                izinid:izinid
                            },
                            success:function (response) {
                                if(response.Success===true) {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_SUCCESS,
                                        title: 'Başarılı',
                                        message: 'İşlem Başarılı',
                                        buttons: [{
                                            label: 'Tamam'
                                        }]
                                    });     
                                }else {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_DANGER,
                                        title: 'Hata Oluştu',
                                        message: 'İşlem Başarısız',
                                        buttons: [{
                                            label: 'Tamam'
                                        }]
                                    });     

                                }
                            }
                        });
                    }
                }
            }
        });






        $('#yarimtablo > table> tbody>tr').each(function (i) {
            if (i > 0) {
                var tr = $(this);
                //yarım izin yılı
                var yıl = tr.find("td:nth(0)").html().trim();
                console.log(yıl);
                //üst tabloda yılı bul kalanı yarım eksilt
                $('#result>tr').each(function () {
                    var trr = $(this);
                    if (trr.find("td:nth(0)>a").html().trim() === yıl) {
                        //alert();
                        var kalan = trr.find("td:nth(3)");
                        console.log(kalan);
                        var izin = parseFloat(kalan.html());
                        kalan.html(izin - 0.5);
                        var tkalan = $('#toplamkalan');
                        tkalan.html(parseFloat(tkalan.html()) - 0.5);
                    }

                });
            }
        });


        var id = $('#item_personelID').val();
        //var izinid = $('#item_izinID').val();
      
        $('.yarimtamamla').each(function () {
            var row = $(this);
            var tr = row.closest('tr');
            var izinid = tr.data('izinid');
            var yil = tr.find('.yil').html().trim();

            console.log(izinid + ' ' + id+' '+yil);
            var updateurl = '@Url.Action("_PersonelYarimIzinListele")' + '/?id=' + id;
            var formurl ='@Url.Action("_YarimIzinEkle")';
            row.ikDialog({
                formurl: formurl,
                title: "Yarım Tamamla",
                data: {
                    izinid: izinid,
                    id: id,
                    yil: yil
                },
                complete: function(result) {
                   
                    $('#yarimtablo').load(updateurl);
                }
            });


            @*row.MakeDialogForm({
                id: 'btnyarimekle',
                text: 'Yarım İzin Ekle',
                url: '@Url.Action("_YarimIzinEkle")' + '/?id=' + id + '&izinid=' + izinid,
                title: 'yarım izin Title',
                updateurl: '@Url.Action("_PersonelYarimIzinListele")' + '/?id=' + id,
                bclass: 'btn btn-success',
                targetid: 'yarimtablo',
                width: '500',
                height: '400',
                complete: function () {
                    alert("sonunda tamamlandı on yarimtamamla");
                }
            });*@
        });
    });
</script>
