@model IEnumerable<ik.Models.YizinDetay>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yizin.Personel.adsoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belgesayi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitis)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yizin.Personel.adsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.belgesayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baslangic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bitis)
            </td>
        </tr>
    }
</table>

