@model IEnumerable<ik.Models.Maas_Is_Liste>
<ul>
    @foreach (var item in Model)
    {
        <li class="parent" data-state="@item.durum" data-id="@item.id">
            <input type="checkbox" checked /><span class="data-ad">@item.ad</span>
            @if (item.Maas_Is_Liste_Detay.Any())
            {
                <ul>
                    @foreach (var it in item.Maas_Is_Liste_Detay)
                    {
                        <li class="child" data-state="@it.durum" data-id="@it.id"><input type="checkbox" checked /><span class="data-ad">@it.ad</span></li>
                    }
                </ul>
            }
        </li>
    }
</ul>
<input id="kaydet" type="button" value="Kaydet" class="btn btn-primary" />

<script type="text/javascript">
    $(function () {

        var ay = $("#ay").val();
        var yil = $('#yil').val();
        $('#kaydet').on('click', function () {
            var data = [];
            $('li.parent').each(function () {
                var ld = [];

                var li = $(this);
                if ($(li.find("input[type=checkbox]")[0]).prop('checked')) {
                    ld.push(li.attr('data-id'));
                    ld.push('0');
                    data.push(ld);
                }


                var child = li.find('.child');
                console.log(child.length);
                if (child.length > 0) {
                    child.each(function () {
                        console.log($(this).find("input[type=checkbox]").prop('checked'));
                        if ($(this).find("input[type=checkbox]").prop('checked')) {
                            ld = [];
                            ld.push(li.attr('data-id'));
                            ld.push($(this).attr('data-id'));
                            data.push(ld);
                        }
                    });
                }
                //else {
                //    if ($(li.find("input[type=checkbox]")[0]).prop('checked')) {
                //        ld.push(li.attr('data-id'));
                //        ld.push('0');
                //        data.push(ld);
                //    }


                //}


            });
            //console.log(data);
            $.ajax({
                url: '@Url.Action("_ListeKaydet")',
                type: 'POST',
                data: {
                    data: data, ay: ay,
                    yil: yil
                },
                success: function (result) {
                }
            });
        });


        $("input[type=checkbox]").each(function () {
            var chk = $(this);


            chk.on('click', function () {
                if (!chk.prop('checked')) {
                    console.log(chk.prop('checked'));
                    var child = chk.closest(".child > input[type=checkbox]");
                    console.log(child);
                    if (child.length > 0) {
                        child.each(function () {
                            $(this).prop('checked', false);
                        });

                    }
                }
                var state = chk.prop('checked').toString();
                var durum = chk.parent().closest('li').attr('data-state').toLowerCase();
                //console.log(state + ' ' + durum);
                if (state !== durum) {

                    console.log('değişti');
                    ///sakla butonu göster
                }
            });
        });
    })
</script>
