
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<style>
    .dosyaliste {
        display: flex;
    }

    .dosya {
        padding-right: 10px;
    }

        .dosya > a.dosyasil > img:hover {
            opacity: 1;
        }

        .dosya > a.thumba > img {
            height: 100px;
            float: right;
        }

        .dosya > a.dosyasil > img {
            height: 20px;
            position: absolute;
            opacity: 0.6;
            transition: 0.3s;
        }

    .uploadphoto {
        margin: 15px;
    }

    .nav-tabs {
        margin: 0;
        padding: 0;
        border: 0;
    }

        .nav-tabs > li > a {
            background: #DADADA;
            border-radius: 0;
            box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
        }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover {
            background: #F5F5F5;
            box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
        }

    /* Tab Content */
    .tab-pane {
        background: #F5F5F5;
        box-shadow: 0 0 4px rgba(0,0,0,.4);
        border-radius: 0;
        /*text-align: center;*/
        padding: 10px;
    }
</style>

@*@Html.ActionLink("İşe Giriş Sözleşmesi Oluştur","Sozleşme","İseGirisCikisIslemleri")
    @Html.ActionLink("Çalışma Belgesi","CalismaBelge","Personel",new {Area=""},null)*@
<div style="margin: 20px" id="selectlist"></div>

<div style="margin: 20px" class="personelfoto"></div>
<div class="clear"></div>
<div class="uploadphoto"></div>

<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="#ikbilgi" role="tab" data-toggle="tab">
                <i class="fa fa-address-book"></i> İK Bilgileri
            </a>
        </li>
        <li>
            <a href="#mikrobilgi" role="tab" data-toggle="tab">
                <i class="fa fa-child"></i>Mikro Bilgileri
            </a>
        </li>
        <li>
            <a href="#pdksbilgi" role="tab" data-toggle="tab">
                <i class="fa fa-briefcase"></i> PDKS Bilgileri
            </a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div data-url='@Url.Action("PersonelIKBilgi","PersonelBilgi",new {Area="Admin"})' data-shown="false" class="tab-pane fade" id="ikbilgi"> </div>
        <div data-url='@Url.Action("PersonelMikroBilgi", "PersonelBilgi", new {Area = "Admin"})' data-shown="false" class="tab-pane fade" id="mikrobilgi"> </div>
        <div data-url="@Url.Action("PersonelPDKSBilgi", "PersonelBilgi", new {Area = "Admin"})" data-shown="false" class="tab-pane fade" id="pdksbilgi"> </div>

    </div>

</div>
@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>
    <script src="~/Scripts/uploads.js"></script>
    <script src="~/Scripts/Admin.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script type="text/javascript">

        var root = "@(new Uri(Request.Url, Url.Content("~")))";
        function readytablist() {
            $('ul.nav-tabs>li').removeClass("active");
            $('div.tab-pane').attr("data-shown", "false").html("");
        }


        $('ul.nav-tabs>li>a').on('click', function () {
            if ($("#personel option:selected").index() < 1) return;
            var href = $(this).attr("href");
            var content = $(href);
            var url = content.attr("data-url");
            var shown = content.attr("data-shown");
            // console.log(shown);
            if (shown === "false") {
                content.attr("data-shown", "true");
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    beforeSend: function () {
                        var a = root+"Content/giphy.gif";
                        $(content).html('<img src="'+a+'" />');
                    },
                    data: { id: $("#personel option:selected").val() },
                    success: function (result) {
                        $(content).html(result);
                    }
                });
            }
        });

        function selectlistchange(result) {
            readytablist();

            var id = $("#personel option:selected").val();
            $.ajax({
                url: '@Url.Action("_PersonelResimYukle","Personel",new {Area= "Admin" })',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    var url =root + result.Url;

                    if (result.Success) {
                        $('.personelfoto').html('<div class="dosyaliste"><div class="dosya"><a class="thumba"><img class="dosyaresim" src="' + url + '"  width="100" height="100"></a></div></div>');
                    } else {
                        $('.personelfoto').html('<div class="dosya"><img src="' + url + '"  width="100" height="100"></div>');
                    }
                }
            });
        }







        $(function () {
            $('#selectlist').MakeSelectList({
                loadimgurl: '@Url.Content("~/Content/Loading_icon.gif")',
                listurl: '@Url.Action("_SelectList", "Personel", new {Area = "Admin"})',
                targetdiv: 'evrakliste',
                change: function (result) {
                    selectlistchange(result);
                    console.log("seleclist changed " + result);
                }
            });

        });
    </script>
}