@model IEnumerable<ik.Controllers.HuzurHakDurumVM>

@Html.Hidden("Success", Model.All(c => c.Tutar != 0)& Model.Any())
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tutar)
        </td>
        <td>
          
        </td>
    </tr>
}

</table>
