@model ik.Models.DataClasslari.MaasHesapDetay

<div>
    <h4>MaasHesapDetay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SgkMatrah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SgkMatrah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SgkPrim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SgkPrim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssizlikPrim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssizlikPrim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DamgaVergi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DamgaVergi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrutToplam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrutToplam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net)
        </dd>

    </dl>
</div>
