@model ik.Models.PersonelDetay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonelDetay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cinsiyeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinsiyeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.okudugubolum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.okudugubolum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sirketarac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sirketarac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mailadres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mailadres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gorev1.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gorev1.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokasyon1.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon1.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.adsoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tahsil.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tahsil.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SgkDosya1.SgkNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SgkDosya1.SgkNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.personelid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
