@model IEnumerable<ik.Models.PersonelDetay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cinsiyeti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.okudugubolum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sirketarac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mailadres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gorev1.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokasyon1.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personel.adsoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tahsil.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SgkDosya1.SgkNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cinsiyeti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thumb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.okudugubolum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sirketarac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mailadres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gorev1.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokasyon1.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personel.adsoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tahsil.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SgkDosya1.SgkNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.personelid }) |
            @Html.ActionLink("Details", "Details", new { id=item.personelid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.personelid })
        </td>
    </tr>
}

</table>
