@model ik.Models.Staj_Ogrenci

<div class="form-group">
    @Html.LabelFor(model => model.adsoyad, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.adsoyad, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.adsoyad, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("okulid", "Üniversite Adı", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("okulid", null, "Üniversite Seçiniz", htmlAttributes: new { target = @Url.Action("_OkulBolumleri"), @class = "form-control" })
        <input id="okuleklebtn" data-title="Üniversite Adı" target="@Url.Action("_OkulEkle")" type="button" class="btn btn-primary btn-sm" value="EKLE" />
        @*@Html.ValidationMessageFor(model => model.okulid, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.bolumid, "bolumid", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("bolumid", null, "Bölüm Seçiniz", htmlAttributes: new { @class = "form-control" })
        <input id="bolumeklebtn" data-title="Bölüm Adı" target="@Url.Action("_OkulBolumEkle")" type="button" class="btn btn-primary btn-sm" value="EKLE" />
        @Html.ValidationMessageFor(model => model.bolumid, "Bölüm Seçiniz", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.baslangic, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.baslangic, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.baslangic, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.bitis, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.bitis, new { htmlAttributes = new {  @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.bitis, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.referans, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.referans, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.referans, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.donem, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.donem, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.donem, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.onayli, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.onayli)
            @Html.ValidationMessageFor(model => model.onayli, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.onaytarih, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.onaytarih, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.onaytarih, "", new { @class = "text-danger" })
    </div>
</div>

