@model ik.Models.Staj_Ogrenci


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adsoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslangic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslangic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onayli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onayli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onaytarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onaytarih)
        </dd>
        <dt>
            @Html.DisplayName("Üniversite Adı")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staj_Bolum.Staj_Okul.ad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staj_Bolum.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staj_Bolum.ad)
        </dd>

       

    </dl>
</div>
