@model IEnumerable<ik.Models.SgkDosya>

@{
    ViewBag.Title = "Dosyalardaki Personel Sayıları";
    var aktif = 0;
    var pasif = 0;
    var aktiftop = 0;
    var pasiftop = 0;
}

<h2>SGK Dosya Detay</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>Kontrole</th>
        <th>Sıra No</th>
        <th>SGK Dosya No</th>
        <th>Aktif</th>
        @*<th>Pasif</th>*@
    </tr>

    @foreach (var item in Model.GroupBy(c => c.Ad))
    {
        <tr>
            @{aktif = item.Sum(c => c.PersonelDetays.Count(d => d.Personel.cikistarihi == null));
                // pasif = item.Sum(c => c.Personels.Count(d => d.cikistarihi != null));
                aktiftop += aktif;
                ///pasiftop += pasif;
            }
            <td>
                <a class="dosyalar" href="javascript:void(0)">@Html.DisplayFor(modelItem => item.Key)</a>

            </td>
            <td>
                <input class="sync" type="button" value="Sync" />
            </td>
            <td>
                @item.FirstOrDefault().SiraNo
            </td>
            <td>
                <a data-clipboard-text="@item.FirstOrDefault().IsyeriSifre" class="sifre" > @item.FirstOrDefault().SgkNo</a>
            </td>

            <td>
                @aktif
            </td>
        </tr>
                }
    <tfoot>
        <tr>

            <th>
                TOPLAM
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>@aktiftop</th>
            @*<th>@pasiftop</th>*@
        </tr>
    </tfoot>
</table>

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('.sync').each(function () {
                var btn = $(this);
                btn.on('click', function () {
                    var sgkno = $(btn.closest('tr')).find('.sifre').html();                   
                    $.ajax({
                        url: '@Url.Action("_SgkMikroKontrolet")',
                        type: 'GET',
                        data: { sgkno: sgkno },
                        success: function (result) {
                            console.table(result);
                        }
                    });

                });
            });




            var clipboard = new ClipboardJS('.sifre');


            clipboard.on('success', function (e) {
                $.notify({
                    title: '',
                    message: 'Şifre Kopyalandı'
                }, { type: 'success' });
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);

                e.clearSelection();
            });

            clipboard.on('error', function (e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
            $('.dosyalar').each(function() {
                $(this).on('click', function() {
                    var ad = $(this).text().split(' ').join('%20');
                    var url = '@Url.Action("_SgkDosyaPersonelleri")' + '/?ad=' + ad;
                    console.log(url);
                    BootstrapDialog.show({
                        message: $('<div></div>').load(url)
                    });
                });
            });

          
        });
    </script>
}