@model IEnumerable<ik.Models.Personel>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adsoyad)
        </th><th>
            @Html.DisplayNameFor(model => model.sicilno)
        </th><th>
            @Html.DisplayNameFor(model => model.tcno)
        </th>
        <th>@Html.DisplayNameFor(model => model.pdksid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giristarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kidemtarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mikroid)
        </th>
        <th>@Html.DisplayNameFor(model => model.dogumtarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iban)
        </th><th>
            @Html.DisplayNameFor(model => model.birim.birimad)
        </th><th></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adsoyad)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.sicilno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tcno)
        </td>
        <td>@Html.DisplayFor(modelItem => item.pdksid)</td>
        <td>
            @Html.DisplayFor(modelItem => item.giristarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kidemtarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mikroid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dogumtarihi)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.iban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birim.birimad)
        </td>
    
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) 
        </td>
    </tr>
}

</table>
