@using ik.Models

@{
    ViewBag.Title = "PersonelDetay";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section styles{
    <style>
        #feedback {
            font-size: 1.4em;
        }

        #liste .ui-selecting {
            background: #FECA40;
        }

        #liste .ui-selected {
            background: #F39814;
            color: white;
        }

        #liste {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 450px;
        }

            #liste li {
                margin: 3px;
                padding: 1px;
                float: left;
                width: 80px;
                height: 100px;
                /*font-size: 4em;
            text-align: center;*/
            }
    </style>
}





<div id="body" class="row">
    <div class="col-lg-6">
        <div class="col-lg-12">
            <select id="personel"></select> <span>Toplam : <span id="sayi"></span> kişi </span> <input type="button" id="prev" value="Önceki" class="btn btn-sm" /><input type="button" id="next" value="Sonraki" class="btn btn-sm" />
        </div>
        <div class="col-lg-6">
            <img id="personelthumb" />
            <button id="browseimg" style="display: block">Seç</button>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
    <div id="resimler">

    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#detay">Detay Bilgileri</a></li>
        </ul>

    </div>
</div>
<div class="col-lg-12">


    <div class="tab-content">
        <div id="detay" class="tab-pane fade in active">
            @*<input type="button" id="detayyukle" value="Yükle" />*@
            <div class="content">
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>

    <script type="text/javascript">
        $(function () {

            $('#next').on('click', function () {
                var nextElement = $('#personel > option:selected').next('option');
                if (nextElement.length > 0) {
                    $('#personel > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
                    $('#personel').trigger('change');
                }
            });

            $("#prev").click(function () {
                var nextElement = $('#personel > option:selected').prev('option');
                if (nextElement.length > 0) {
                    $('#personel > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
                    $('#personel').trigger('change');
                }
            });
            $("#personel").on('change', function () {
                var selected = $("#personel option:selected");
                $.ajax({
                    url: '@Url.Action("Sicil","Personel")',
                    type: 'GET',
                    data: { ikID: selected.val() },
                    success: function (result) {
                        //console.log(result);
                        $('.content').html(result);
                    }
                });
            });
            var ROOT = '@Url.Content("~")';
            var btn = $('#browseimg');

            btn.on('click', function () {

                //eğer selectlist seçili değilse  çık
                var val = $('#personel').val();
                if (val < 0) return;

                var liste = $('<div style="height:500px; overflow:scroll" class="row" <ol id="liste"></ol></div>');

                $.ajax({
                    url: '@Url.Action("_PersonelResimleri","Media")',
                    type: 'GET',
                    success: function (result) {
                        $.each(result, function (i, item) {
                            liste.append('<li class="ui-state-default"><img thumb="' + item.imageSrc + '" src="' + ROOT + item.imageSrc + '" title="' + item.text + '" height="80" width="80"><span style="text-overflow: ellipsis;display: block;overflow: hidden;" title="' + item.text + '">' + item.text + '</span></li>');
                        });
                        liste.selectable({
                            selected: function (event, ui) {
                                $(ui.selected).addClass('ui-selected').siblings().removeClass('ui-selected');
                            }
                        });
                        BootstrapDialog.show({
                            title: 'Personel Resmi Seçiniz',
                            message: liste,
                            data: {
                                'id': val
                            },
                            buttons: [
                                {
                                    label: 'Kaydet',
                                    action: function (dialogItself) {
                                        var thumb = $('#liste .ui-selected').find('img');//.attr("src");
                                        if (thumb.length > 0) {
                                            var id = dialogItself.getData('id');
                                            var resim = thumb.attr("src");

                                            $.ajax({
                                                url: '@Url.Action("_PersonelResimEkle")',
                                                type: 'POST',
                                                data: {
                                                    id: id,
                                                    thumb: thumb.attr('thumb')
                                                },
                                                success: function (result) {
                                                    if (result === true) {
                                                        $('#personelthumb').attr('src', resim);
                                                        $('#personelthumb').attr('thumb', thumb.attr('thumb'));
                                                    }

                                                }
                                            });
                                        }
                                        dialogItself.close();
                                    }
                                }
                            ]
                        });
                    }
                });
            });
            var pers = $('#personel');
            $.ajax({
                url: '@Url.Action("_SelectList","Personel")',
                type: 'GET',
                success: function (result) {
                    pers.empty();
                    pers.append('<option value="-1">Personel Seçinizi</option>');
                    $.each(result, function (i, item) {
                        pers.append('<option thumb="' + item.Thumb + '" value="' + item.Value + '">' + item.Text + '</option>');
                    });
                    $('#sayi').html(result.length);
                }
            });
            pers.on('change', (function () {
                var selected = $("#personel option:selected");
                var thumb = selected.attr("thumb");
                $('.content').each(function () {
                    $(this).empty();
                });



                $('#personelthumb').attr("thumb", thumb);
                $('#personelthumb').attr("src", ROOT + thumb);

                $('.loading').removeClass("hidden");
                //yükleme tamamlanınca loading ikonunu gizle
            }));
        })
    </script>
}

