@using ik.Models

@{
    ViewBag.Title = "PersonelDetay";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
@section styles{
    <style>
        #feedback {
            font-size: 1.4em;
        }

        #liste .ui-selecting {
            background: #FECA40;
        }

        #liste .ui-selected {
            background: #F39814;
            color: white;
        }

        #liste {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 450px;
        }

            #liste li {
                margin: 3px;
                padding: 1px;
                float: left;
                width: 80px;
                height: 100px;
                /*font-size: 4em;
            text-align: center;*/
            }
    </style>
}





<div id="body" class="row">
    <div class="col-lg-6">
        <div class="col-lg-12">
            <select id="personel"></select> <span>Toplam : <span id="sayi"></span> kişi </span> <input type="button" id="prev" value="Önceki" class="btn btn-sm" /><input type="button" id="next" value="Sonraki" class="btn btn-sm" />
        </div>
        <div class="col-lg-6">
            <img id="personelthumb" />
            <button id="browseimg" style="display: block">Seç</button>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
    <div id="resimler">

    </div>


</div>
<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#detay" data-toggle="tab">Detay</a>
        </li>
        <li>
            <a href="#gorevlendirme" data-toggle="tab">Görevlendirme</a>
        </li>
        <li>
            <a href="#egitimler" data-toggle="tab">Alınan Eğitimler</a>
        </li>
        <li>
            <a href="#upload" data-toggle="tab">Dosya Yükle</a>
        </li>
        <li>
            <a href="#isegiris" data-toggle="tab">İşe Giriş Evrakları</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="detay">
            <div class="content">
            </div>
        </div>
        <div class="tab-pane" id="gorevlendirme">
            <input type="button" id="gorevlendirmeyukle" value="Yükle" />
            <div class="content">
            </div>
        </div>
        <div class="tab-pane" id="egitimler">
            <div class="content">
                asdasdas das d
            </div>
        </div>
        <div class="tab-pane" id="upload">
            <input type="button" id="dosyayukle" value="Yükle"/>
            <div id="dialogform"></div>
            <div class="content">
                dosya yükleme ekranı
            </div>
        </div>
        <div class="tab-pane" id="isegiris" data-url="@Url.Action("IseGirisEvrak")">
            <div id="content"></div>
            <div class="content">
            </div>
        </div>

    </div>
</div>


@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/DialogForm.js"></script>


    <script type="text/javascript">
        $(function () {
           


            //////////////////////////////////////////////////////////////////////////////
            $('.nav-tabs').each(function() {
                var tab = $(this);
                tab.on('click', function() {
                    var input = tab.find('button');
                   // console.log(input);
                });
            });

            
            //////////////////////////////////////////////////////////////////////////////







            $('#next').on('click', function () {
                var nextElement = $('#personel > option:selected').next('option');
                if (nextElement.length > 0) {
                    $('#personel > option:selected').removeAttr('selected').next('option').attr('selected', 'selected');
                    $('#personel').trigger('change');
                }
            });

            $("#prev").click(function () {
                var nextElement = $('#personel > option:selected').prev('option');
                if (nextElement.length > 0) {
                    $('#personel > option:selected').removeAttr('selected').prev('option').attr('selected', 'selected');
                    $('#personel').trigger('change');
                }
            });

            $('#gorevlendirmeyukle').on('click', function () {
                var content = $('#gorevlendirmeyukle').parent().find('.content');
                content.html('<img src="@Url.Content("~/Content/Loading_icon.gif")"/>');
                var selected = $("#personel option:selected");
                //personel görevlendirmelerini yükle
                $.ajax({
                    url: '@Url.Action("PersonelGorevlendirme")',
                    type: 'GET',
                    data: {
                        id: selected.val()
                    },
                    success: function (result) {
                        content.html(result);
                    }
                });

            });




            $('#dosyayukle').on('click', function () {
                var content = $('#dosyayukle').parent().find('.content');
                content.html('<img src="@Url.Content("~/Content/Loading_icon.gif")"/>');
                var selected = $("#personel option:selected");
                console.log(selected);
                $('#dialogform').MakeDialogForm({
                    id: 'btnresimekle',
                    text: 'Dosya Yükle',
                    url: '@Url.Action("PersonelDosyaYukle")'+'/?id='+selected.val(),
                    title: 'Resmin Ekle',
                    updateurl: '' @*'@Url.Action("Index")'*@,
                    bclass: 'btn btn-info',
                    targetid: 'empty',
                    width: "600",
                    height: "500",
                    complete: function (data) {

                    }

                });


                //personel görevlendirmelerini yükle
                @*$.ajax({
                    url: '@Url.Action("PersonelDosyaYukle")',
                    type: 'GET',
                    data: {
                        id: selected.val()
                    },
                    success: function (result) {
                        content.html(result);
                    }
                });*@

            });




            $("#personel").on('change', function () {
                var selected = $("#personel option:selected");


              




                $.ajax({
                    url: '@Url.Action("Sicil","Personel")',
                    type: 'GET',
                    data: { ikID: selected.val() },
                    success: function (result) {
                        //console.log(result);
                        $('.content').html("");
                        $('#detay>.content').html(result);
                    }
                });
            });
            var ROOT = '@Url.Content("~")';
            var btn = $('#browseimg');

            btn.on('click', function () {

                //eğer selectlist seçili değilse  çık
                var val = $('#personel').val();
                if (val < 0) return;

                var liste = $('<div style="height:500px; overflow:scroll" class="row" <ol id="liste"></ol></div>');

                $.ajax({
                    url: '@Url.Action("_PersonelResimleri","Media")',
                    type: 'GET',
                    success: function (result) {
                        $.each(result, function (i, item) {
                            liste.append('<li class="ui-state-default"><img thumb="' + item.imageSrc + '" src="' + ROOT + item.imageSrc + '" title="' + item.text + '" height="80" width="80"><span style="text-overflow: ellipsis;display: block;overflow: hidden;" title="' + item.text + '">' + item.text + '</span></li>');
                        });
                        liste.selectable({
                            selected: function (event, ui) {
                                $(ui.selected).addClass('ui-selected').siblings().removeClass('ui-selected');
                            }
                        });
                        BootstrapDialog.show({
                            title: 'Personel Resmi Seçiniz',
                            message: liste,
                            data: {
                                'id': val
                            },
                            buttons: [
                                {
                                    label: 'Kaydet',
                                    action: function (dialogItself) {
                                        var thumb = $('#liste .ui-selected').find('img');//.attr("src");
                                        if (thumb.length > 0) {
                                            var id = dialogItself.getData('id');
                                            var resim = thumb.attr("src");

                                            $.ajax({
                                                url: '@Url.Action("_PersonelResimEkle")',
                                                type: 'POST',
                                                data: {
                                                    id: id,
                                                    thumb: thumb.attr('thumb')
                                                },
                                                success: function (result) {
                                                    if (result === true) {
                                                        $('#personelthumb').attr('src', resim);
                                                        $('#personelthumb').attr('thumb', thumb.attr('thumb'));
                                                    }

                                                }
                                            });
                                        }
                                        dialogItself.close();
                                    }
                                }
                            ]
                        });
                    }
                });
            });
            var pers = $('#personel');
            $.ajax({
                url: '@Url.Action("_SelectList","Personel")',
                type: 'GET',
                success: function (result) {
                    pers.empty();
                    pers.append('<option value="-1">Personel Seçinizi</option>');
                    $.each(result, function (i, item) {
                        pers.append('<option thumb="' + item.Thumb + '" value="' + item.Value + '">' + item.Text + '</option>');
                    });
                    $('#sayi').html(result.length);
                }
            });
            pers.on('change', (function () {
                var selected = $("#personel option:selected");
                var thumb = selected.attr("thumb");
                $('.content').each(function () {
                    $(this).empty();
                });



                $('#personelthumb').attr("thumb", thumb);
                $('#personelthumb').attr("src", ROOT + thumb);

                $('.loading').removeClass("hidden");
                //yükleme tamamlanınca loading ikonunu gizle

                var load = $('#isegiris');
                var url = load.attr('data-url');
                var pid = selected.val();
                console.log(pid);
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        pid: pid
                    },
                    success: function (result) {
                        var content = $('#isegiris').parent().find('#content');
                        content.html(result);
                    }

                });



            }));
        })
    </script>
}

