@model IEnumerable<ik.Controllers.PersonelListeVM>

@{
    ViewBag.Title = "TumPersonelListe";
}

<h2>TumPersonelListe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kadro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kadro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
