@using ik.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
  
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top marginBottom-25" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("I.K.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("KVKK", "Index", "Index", new { area = "KVKK" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Personel Özlük", "Index", "OzlukHome", new { area = "OzlukAdmin" }, new { @class = "navbar-brand" })

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arşiv Arama <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink("Arşiv", "Index", "Arsiv")</li>
                        <li>@Html.ActionLink("Eski Personel Arama", "Index", "KentIhale")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("PTakip", "GunlukPTakip", "PTakip", new { date = @DateTime.Now.ToShortDateString() }, null)</li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Staj İşlemleri <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Staj Özet", "Ozet", "Staj")</li>
                        <li>@Html.ActionLink("Stajer Listesi", "Index", "Staj")</li>
                        <li>@Html.ActionLink("Stajer Evrak", "EvrakAta", "Staj")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personel İşlemleri <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Personel Durumu", "Durum", "Personel")</li>

                        <li>@Html.ActionLink("Etiketler", "Bulut", "Etiket")</li>

                        @*<li><a href="#">Dropdown Link 1</a></li>
                            <li><a href="#">Dropdown Link 2</a></li>
                            <li><a href="#">Dropdown Link 3</a></li>>*@
                        @*<li>@Html.ActionLink("Grup Tanım", "Index", "Grups").If(User.Identity.Name == @"KENTKONUT\noskay")</li>*@
                        <li>@Html.ActionLink("Grup Tanımla", "YeniGrup", "Grups")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("PDKS Eksik Hareket ekle", "EksikHareketler", "Pdks")</li>
                        <li class="divider"></li>
                        @* <li>@Html.ActionLink("Taşeron Personel", "Index", "Taseron").If(User.Identity.Name == @"KENTKONUT\noskay")</li>*@

                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">İmza Takip</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("İmza Listesi", "Index", "ImzaTakip")</li>
                                @*<li>@Html.ActionLink("Personel İmza Takip", "PersonelImza", "ImzaTakip").If(User.Identity.Name == @"KENTKONUT\noskay")</li>*@
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PDKS</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Mazeret İzni Giriş", "MazeretEkle", "Pdks")</li>

                            </ul>
                        </li>

                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formlar</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Avans Talep Formu", "AvansForm", "Personel")</li>
                                <li>@Html.ActionLink("Mesai Onay Belgesi", "MesaiOnayBelge", "Personel")</li>
                                <li>@Html.ActionLink("Taşeron İzin Formu", "IzinFormu", "Taseron")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rutin İşler</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Rutin İşler", "Index", "Takip")</li>
                                <li>@Html.ActionLink("Rutin İşler Oluştur", "RutinEkle", "Takip")</li>
                                <li>@Html.ActionLink("Maaş Kontrolleri", "MaasIsKontrol", "Template")</li>
                                <li>@Html.ActionLink("Günlük Rapor", "GunlukRapor", "Template")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Özlük İşlemleri</a>
                            <ul class="dropdown-menu">
                                @* <li>@Html.ActionLink("Tüm Personel Sayı", "TumPersonelSayi", "Personel").If(User.Identity.Name == @"KENTKONUT\noskay")</li>*@
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Özlük Dosyası İşlemleri</a>


                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Personel Özlük İşlemleri", "Index", "PersonelOzlukDosya")</li>
                                        <li>@Html.ActionLink("Özlük Evrakları", "GrupEvrakEkle", "PersonelOzlukDosya")</li>
                                    </ul>
                                </li>

                                <li>@Html.ActionLink("Personel Mesaileri", "Index", "PersonelMesais")</li>
                                @* <li>@Html.ActionLink("Alınan Raporlar", "SaglikRapor", "Personel").If(User.Identity.Name == @"KENTKONUT\noskay")</li>*@
                                <li>@Html.ActionLink("Avanslar", "Avanslar", "Personel")</li>
                                <li>@Html.ActionLink("Personel Icraları", "Index", "Icra")</li>
                                <li>@Html.ActionLink("IK Personel Ekle", "Create", "Personel").If(User.Identity.Name == @"KENTKONUT\noskayKENTKONUT\noskay,KENTKONUT\derya.aslan")</li>
                                <li>@Html.ActionLink("Kan Grupları", "KanGrubu", "Mikro")</li>
                                <li>@Html.ActionLink("Firma Bilgileri", "PersonelFirma", "Personel")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Tüm Personel Durumu", "TumPersonel", "Personel").If(User.Identity.Name == @"KENTKONUT\noskayKENTKONUT\noskay,KENTKONUT\derya.aslan")</li>
                                <li>@Html.ActionLink("Personel Detay Bilgi", "PersonelDetay", "Personel")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Personel Rapor Durumu", "RaporDurum", "Pdks")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Personel Eğitimleri", "Egitim", "PersonelOzlukDosya")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Görev Yerlerine Göre Dağılım", "_GörevYerleri", "Personel")</li>
                                <li>@Html.ActionLink("Birimlere Göre Dağılım", "_BirimDetaylar", "Personel")</li>
                                <li>@Html.ActionLink("Tahsil Durumuna Göre Dağılım", "_GenelTahsilDurumu", "Personel")</li>
                                <li>@Html.ActionLink("Mesleklere Göre Dağılım", "_GenelMeslekDurumu", "Personel")</li>
                                <li>@Html.ActionLink("Sgk Dosyalarına Göre Dağılım", "_GenelSgkDosyaDurumu", "Personel")</li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Raporlar</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Giriş Çıkış Raporları", "Raporlar", "Rapor")</li>
                                <li>@Html.ActionLink("Personel Giriş Çıkış", "PersonelGunlukDurum", "Rapor").If(User.Identity.Name == @"KENTKONUT\noskay,KENTKONUT\derya.aslan")</li>
                                <li>@Html.ActionLink("Departman Bazında Giriş Çıkış", "DepartmanGunlukDurum", "Rapor").If(User.Identity.Name == @"KENTKONUT\noskayKENTKONUT\noskay,KENTKONUT\derya.aslan")</li>
                                <li>@Html.ActionLink("Genel Personel Durumu", "PersonelDurum", "Rapor")</li>
                                <li>@Html.ActionLink("Genel Personel Durum Raporu", "PersonelDurumRapor", "Rapor")</li>
                                <li>@Html.ActionLink("Günlük Gelen/Gelmeyen Personel Raporu", "GünlükRapor", "Rapor")</li>


                            </ul>
                        </li>

                        <li>@Html.ActionLink("Yönetim Denetim Kurulu", "Index", "Kuruls")</li>
                        <li>@Html.ActionLink("Etiket Yönetimi", "Index", "Etiket")</li>
                        <li>@Html.ActionLink("Görev Listeleri", "Index", "Gorev")</li>


                    </ul>
                </li>
                <li>@Html.ActionLink("Personel İzin Durum", "YillikIzin", "izin")</li>
                <li>@Html.ActionLink("Personel Detay Bilgi", "PersonelDetay", "Personel").If(User.Identity.Name == @"KENTKONUT\noskay")</li>
                <li>@Html.ActionLink("Toplu İşlem Takip", "Index", "Tasks")</li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maaş İşlemleri <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Maaş Kontrol", "MaasKontrol", "Puantaj")</li>
                        <li>@Html.ActionLink("Maaş Hesaplama", "_MaasHesap", "Puantaj")</li>
                    </ul>
                </li>*@


            
    
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    
    <div class="container body-content" style="margin-top:25px">
        <div id="Info">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ptakip.js"></script>
   
    @Html.PageScripts()


    <script type="text/javascript">

        $(document).ready(function () {
            //$('.dropdown-toggle').dropdown();
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>