@model IEnumerable<ik.Models.Ozluk_IseGirisEvrak>

@{
    ViewBag.Title = "_PersonelGirisEvrak";

}
@Html.Hidden("tcno", (string)ViewBag.tcNo)

@*@helper  dosyaicon(string url)
{
    var fizikselyol = new FileInfo(Server.MapPath(url));
    var icon = "";
    switch (fizikselyol.Extension)
    {
        case ".jpg":
            {
                icon = url;
                break;
            }
        default:
            {
                icon = @Url.Content("~/Content/Adobe-PDF-Document-icon.png");
                break;
            }
    }
    @icon
}*@



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ozluk_IseGirisGerekEvrakTip.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mevcut)
        </th>
        <th>
            Dosyalar
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detay)
        </th>
        <th>
            İşlemler
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-kayit-id="@item.id">
            <td>
                @Html.DisplayFor(modelItem => item.Ozluk_IseGirisGerekEvrakTip.ad)
            </td>
            <td>
                <input type="checkbox" data-value="@item.mevcut" checked="@item.mevcut" class="js-switch mevcut" />
            </td>
            <td>
                <div  class="dosyaliste">
                    @foreach (var it in item.Ozluk_IseGirisEvrakUrl)
                    {
                        <div class="dosya" data-id="@it.id">
                            <a class="thumba" target="_blank" href="@Url.Action("Indir", "Upload", new {Area="" ,url=@it.url})">
                                <img src='@Url.Content("~/"+@it.Thumb)' class="dosyaresim">
                            </a>
                            <a href="javascript:void(0)" class="dosyasil">
                                <img src="@Url.Content("~/Content/delete-png.png")" />
                            </a>
                        </div>
                    }
                </div>
            </td>
            <td>
                <input type="text" data="@item.detay" class="detay" value="@item.detay" />
                @*@Html.TextBox("detay", item.detay)*@
            </td>
            <td>
                <div class="col-sm-4 uploadgoster"></div>
                <div class="col-sm-2">
                    <input type="button" value="Kaydet" class="btn btn-primary kaydet" />
                </div>

            </td>
        </tr>
    }

</table>




<script src="~/Scripts/switchery.min.js"></script>
<link href="~/Content/switchery.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/bootstrap-notify.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/uploads.js"></script>
<script type="text/javascript">


    function initcheckbox(classname) {
        var elems = Array.prototype.slice.call(document.querySelectorAll(classname));

        elems.forEach(function (html) {
            var switchery = new Switchery(html);
        });
    }

    $(function () {
        var root = "@(new Uri(Request.Url, Url.Content("~")))";
        uploadnamespace.uploadform = root + '/Upload/Yukle';
        uploadnamespace.uploadform = root + '/Upload/DosyaYukleDialog';
        uploadnamespace.deleteurl = root + '/Upload/Sil';

         var indirurl = "@Url.Action("Indir", "Upload", new {Area=""})";



       // console.log(root);
        function deleted(targetimgdiv) {
           alert(targetimgdiv);
          console.log(targetimgdiv);
           var urlid = targetimgdiv.attr("data-id");
            $.ajax({
                url: '@Url.Action("_GirisEvrakSil")',
                type: 'GET',
                data: {
                    id: urlid
                }, success: function (result) {
                    if (result.Success === true) {
                        targetimgdiv.remove();
                    }
                }
            });
        }
        function dosyasil(element) {
            console.log(element);
            var imgdiv = element;
            var dosya = imgdiv.find('a').attr('href');
            uploadnamespace.sil(imgdiv,dosya,deleted);
        }


        initcheckbox('.js-switch');



        function resimekle(targetdiv, id, url, thumb) {
            var dosya = $('<div class="dosya" data-id="' + id + '"><a class="thumba" target="_blank" href=' + indirurl + '/?url='+ url + '><img src="'+root+'/' + thumb + '" ' +
                'class="dosyaresim"></a><a href = "javascript:void(0)" class= "dosyasil" ><img src="' + root + '/Content/delete-png.png" /></a></div>');
            targetdiv.append(dosya);
            dosyasil(dosya);
        }

        function complete(uploadresult, uploaddiv) {
            var evrid = uploaddiv.closest('tr').attr("data-kayit-id");
            var dosyaliste = uploaddiv.closest('tr').find('.dosyaliste');
            $.ajax({
                url: '@Url.Action("_GirisEvrakEkle")',
                type: 'GET',
                data: {
                    id: evrid,
                    url: uploadresult.DosyaAdi
                },
                success: function (result) {
                    if (result.Success === true) {
                        console.log(result.ID);
                        resimekle(dosyaliste, result.ID, uploadresult.DosyaAdi, uploadresult.Thumb);
                        var check = $(uploaddiv.closest("tr")).find("input:checkbox");
                        if (!check.attr("checked"))
                            check.trigger('click');
                    }
                }
            });

        }


        $(".dosya").each(function () {
            dosyasil($(this));
        });

        var pid = $('#tcno').val();


        $('.uploadgoster').DosyaYukle({
            uploadform: '@Url.Action("DosyaYukleDialog","Upload",new {Area=""})', ///standart view
            uploadurl: '@Url.Action("Yukle", "Upload",new {Area=""})', ///standart dosya uplaod işlemleri
            deleteurl: '@Url.Action("Sil", "Upload",new {Area=""})', ///standart yüklenen dosyayı silme işlemleri
            kayitklasor: '\\IseGirisEvraklar\\' + pid, /// değişebilir
            targetimgdiv: 'dosyaliste',
            uploadcomplete: complete,
            deletecomplete: deleted
        });

        $('.mevcut').each(function () {
            var mevcut = $(this);
            mevcut.change(function () {
            });
        });

        $('.kaydet').each(function () {
            var btn = $(this);
            btn.on('click', function () {
                var tr = btn.closest('tr');
                var detay = tr.find('.detay').val();
                var mevcut = tr.find('.mevcut');
                var id = tr.attr('data-kayit-id');
                $.ajax({
                    url: '@Url.Action("_GirisEvrakKayitGuncelle")',
                    type: 'GET',
                    data: {
                        kayitid: id,
                        detay: detay,
                        mevcut: $(mevcut).prop('checked')
                    },
                    success: function (result) {
                        if (result.Success === true) {
                            $.notify({
                                title: 'İşe Giriş Evrak Kaydı İşlemi',
                                message: result.Message
                            }, {
                                type: 'success'
                            });
                        } else {
                            $.notify({
                                title: 'İşe Giriş Evrak Kaydı İşlemi',
                                message: result.Message
                            }, {
                                type: 'danger'
                            });
                        }
                    }
                });
            });
        });
    });
</script>
