@model IEnumerable<ik.Models.Ozluk_IseGirisEvrak>

@{
    ViewBag.Title = "_PersonelGirisEvrak";

}
@Html.Hidden("tcno", (string)ViewBag.tcNo)
<style>
    textarea{  
        display: block;
        box-sizing: padding-box;
        overflow: hidden;

        padding: 10px;
        width: 250px;
        font-size: 14px;
        border-radius: 6px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        border: 0;
    }
</style>

<table class="table" id="isegirisevraktablo">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ozluk_IseGirisGerekEvrakTip.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mevcut)
        </th>
        <th>
            Dosyalar
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detay)
        </th>
        <th>
            İşlemler
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-kayit-id="@item.id">
            <td>
                @Html.DisplayFor(modelItem => item.Ozluk_IseGirisGerekEvrakTip.ad)
            </td>
            <td>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="success"><span data-prev="@item.mevcut" class="durum">Mevcut</span></button>
                    <input type="checkbox" class="hidden" checked="@item.mevcut" />
                </span>

            </td>
            <td>
                <div class="dosyaliste">
                    @foreach (var it in item.Ozluk_IseGirisEvrakUrl)
                    {
                        <div class="dosya" data-id="@it.id" data-thumb="@it.Thumb" data-url="@it.url"></div>
                    }
                </div>
            </td>
            <td>
                <textarea class='autoExpand detay' rows='1' data-min-rows='1' >@item.detay</textarea>
                @*<input type="text" data="@item.detay" class="detay" value="@item.detay"/>*@
            </td>
            <td>
                <div class="col-sm-4 uploadgoster"></div>
                <div class="col-sm-2">
                    <input type="button" value="Kaydet" class="btn btn-primary isegiriskaydet" />
                </div>

            </td>
        </tr>
    }

</table>



<link href="~/Content/upload.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/bootstrap-notify.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/uploads.js"></script>
<script src="~/Scripts/ikcheckboxjs.js"></script>
<script type="text/javascript">


   

    $(function () {
        $(document)
            .one('focus.autoExpand', 'textarea.autoExpand', function(){
                var savedValue = this.value;
                this.value = '';
                this.baseScrollHeight = this.scrollHeight;
                this.value = savedValue;
            })
            .on('input.autoExpand', 'textarea.autoExpand', function(){
                var minRows = this.getAttribute('data-min-rows')|0, rows;
                this.rows = minRows;
                rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
                this.rows = minRows + rows;
            });




        var root = "@(new Uri(Request.Url, Url.Content("~")))";
        var indirurl = "@Url.Action("Indir", "Upload", new {Area=""})";
      
        var pid = $('#tcno').val();

        function RenderThumb(tr, url, thumb, id) {
            var td = tr.find('.dosyaliste');
            var div = $('<div class="img-wrap" data-id="' + id + '">');
            div.append('<a href="' + indirurl + '/?url=' + url + '"  target="_blank"><span class="close">&times;</span> <img src = "' + root + thumb + '" data-id="' + id + '"></a>').appendTo(td);
            return div;
        }

        function SaveFileToDb(id,url,thumb,div) {
        
            console.log(div);
            $.ajax({
                async: true,
                type: 'GET',
                url: '@Url.Action("_GirisEvrakKaydet")',
                data: {
                    id: id,
                    url: url,
                    thumb:thumb
                },
                success:function(result) {
                    if (result.Success === true) {
                        console.log(result.Data);
                        div.attr("data-id",result.Data);
                    }
                }
            });
            //db ye kaydet dönen id yi div içine ekle
            //silme işlemi hazırla
        }

        function SilmeHazirla(div) {
            div.find('.close').on('click', function (e) {
                BootstrapDialog.confirm({
                    message: 'Dosya Silinsin mi?',
                    title: 'Dosya Sil',
                    callback:function(result) {
                        if (result) {
                            var id = div.closest(".img-wrap").data('id');
                            $.ajax({
                                async: true,
                                url: '@Url.Action("_DosyaSil")',
                                type: 'GET',
                                data: {
                                    id:id
                                },
                                success: function (response) {
                                    if (response.Success === true) {
                                        console.log(response.Message);
                                     
                                        div.remove();
                                        //tr.find('.upload-div').addClass('upload');
                                    }
                                }
                            });
                        } else {}
                    }

                });
                e.preventDefault();
            });
        }

        function RowHazirla(tr) {
            var dosya = tr.find('.dosya');
            $.each(dosya, function (i, item) {
                var $item = $(item);
                var url = $item.data("url");
                var thumb = $item.data("thumb");
                var id = $item.data("id");
                var div = RenderThumb(tr, url, thumb, id);
                SilmeHazirla(div);
                $item.remove();
            });
        }

        function complete(result, btn) {
         
            var tr = btn.closest('tr');
            var id = tr.data("kayit-id");
            var url = result.DosyaAdi;
            var thumb = result.Thumb;
            var div=RenderThumb(tr, url, thumb, -1);
            SaveFileToDb(id, url, thumb, div);
        }
        
        $('.uploadgoster').DosyaYukle({
            uploadform: '@Url.Action("DosyaYukleDialog","Upload",new {Area=""})', ///standart view
            uploadurl: '@Url.Action("Yukle", "Upload",new {Area=""})', ///standart dosya uplaod işlemleri
            kayitklasor: '\\IseGirisEvraklar\\' + pid, /// değişebilir
            uploadcomplete: complete,
            deletecomplete: deleted
        });

        $('#isegirisevraktablo >tbody >tr').each(function () {
            var tr = $(this);
            RowHazirla(tr);
        });

        $('#kaydet').on('click', function() {

        });

        $('.button-checkbox').IkCheckBox({
            onText: 'Mevcut',
            offText: 'Mevcut Değil',
            checkChanged: function (item) {
                console.log(item);
            }
        });

        $('.isegiriskaydet').each(function() {
            var btn = $(this);
            btn.on('click', function () {
                BootstrapDialog.confirm({
                    message: 'Değişiklikler Kaydedilsin mi?',
                    title: 'Uyarı',
                    btnCancelLabel: 'İptal',
                    btnOKLabel: 'Kaydet',
                    btnOKClass: 'btn-warning',
                    callback:function(result) {
                        if (result) {
                            var kaydet = btn;
                            var tr = kaydet.closest('tr');
                            var detay =tr.find('.detay').val();
                            var mevcut = tr.find(".button-checkbox").find("button").hasClass("active");
                            var id = tr.data("kayit-id");
                         
                            $.ajax({
                                url: '@Url.Action("_IseGirisEvrakGuncelle")',
                                async: true,
                                data: {
                                    detay: detay,
                                    mevcut: mevcut,
                                    id: id
                                },
                                type: 'POST',
                                success:function(response) {

                                }
                            });
                          
                        } else {

                        }
                    }
                });
                
            });

        });
    });
</script>
