@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .list-group-item { padding: 5px 15px; }
</style>

<h2>Index</h2>

<div class="form-group">
    @Html.Label("Imza")
    @Html.DropDownList("Imza", // 1. Store selected value in Model.State;
        // when page is rendered after postback,
        // take selected value from Model.State.

        // 2. Take list of values from Model.States
        (SelectList) ViewBag.imzaListe,

        // 3. Text for the first 'default' option
        "- İmza seçiniz -",

        //4. A class name to assign to <select> tag
        new {@class = "form-control"})
</div>


<div class="form-group">
    @Html.Label("Personel Adı")

    <select id="personelListe" class="form-control">
        <option selected disabled>Personel Seçiniz</option>
        @*<option value="1">One</option>*@

    </select>
    <input type="button" value="Ekle" id="personelEkle" class="btn btn-info"/>
</div>


<div id="ImzaListe" class="form-group">
    <ul class="list-group"></ul>
</div>
<input id="listekaydet" type="button" value="Kaydet" class="btn btn-success"/>


@section scripts{

    <script type="text/javascript">
        $(function() {
            $('#listekaydet').on('click', function() {

                var imzaID = $('#Imza').val();
                var personellist = [];
                $('#ImzaListe ul li').each(function(idx, li) {
                    personellist.push($(this).attr("data-personelid"));
                });
                $.ajax({
                    type: "POST",
                    data: {
                        personelliste: personellist,
                        imzaid: imzaID
                    },
                    url: '@Url.Action("ImzaListeKaydet")',
                    success: function(personels) {
                    }
                });
            });

            $('#personelEkle').on('click', function() {
                //listeye ekle
                var imzaid = $('#Imza').val();
                var personelid = $('#personelListe').val();
                var personeladsoyad = $('#personelListe option:selected').text();

                $('#ImzaListe ul').append('<li data-imzaid=' + imzaid +
                    ' data-personelid=' + personelid +
                    ' class="list-group-item list-group-item-danger">' +
                    personeladsoyad + '</li>');
                $('#personelListe option:selected').remove();
            });

            $('#Imza').on('change', function() {
                var imzaID = $(this).val();
                $('#ImzaListe ul').html('');
                var target = $('#ImzaListe ul');

                $('#personelListe').empty(); //mevcut listeyi yükle
                $.ajax({
                    url: '@Url.Action("ImzaTakipListe")',
                    data: { ID: imzaID },
                    cache: false,
                    type: "POST",
                    success: function(response) {
                        //target.append('<ul class="list-group">');
                        for (var i = 0; i < response.length; i++) {
                            target.append('<li data-imzaid=' + response[i].takipid +
                                ' data-personelid=' + response[i].personelid +
                                ' class="list-group-item list-group-item-danger">' +
                                response[i].personel + '</li>');
                        }
                        target.append('</ul>');
                        $('#ImzaListe').html(target);

                        var personellist = [];
                        $('#ImzaListe ul li').each(function(idx, li) {


                            //obj['personelid'] = $(this).attr("data-personelid");
                            //obj['imzaid'] = $(this).attr("data-imzaid");
                            personellist.push($(this).attr("data-personelid"));
                        });
                        //console.table(personellist);
                        $.ajax({
                            type: "POST",
                            data: {
                                personelliste: personellist,
                                imzaid: imzaID
                            },
                            url: '@Url.Action("ImzaListe")',
                            success: function(personels) {
                                $('#personelListe').empty();
                                $.each(personels, function(i, personel) {
                                    $("#personelListe").append('<option value="' + personel.Value + '">' +
                                        personel.Text + '</option>');
                                });
                            }
                        });
                    }
                });
            });


        })
    </script>
}