@using ik.Models
@model IEnumerable<ik.Models.ImzaTakip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.DialogFormLink("Yeni Ekle", Url.Action("Create"), "Takip Ekle", "Info", Url.Action("Index"))

</p>


<div id="takiplist">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                Durum
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aciklama)
            </th><th></th>
        </tr>@foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.ad,"ImzaTakipDetay",new {item.id})
                    @*@Html.DisplayFor(modelItem => item.ad)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td>@item.ImzaTakipDetays.Count(c=>c.imzaTarih!=null) / @item.ImzaTakipDetays.Count()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aciklama)
                </td>
                <td>@*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>}

    </table>
</div>

@section scripts{
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/DialogForm.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $('.dialogLink').makeDialog();
        });
    </script>
}