@model IEnumerable<ik.Models.Kidem>
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table, th, td { border: 1px solid black; }
</style>
<h1>@ViewBag.personelAd</h1>
<table class="table"><tr>
        <th>
            @Html.DisplayName("İzin Yılı")
        </th>

        <th>
            @Html.DisplayName("Hakedilen izin")
        </th>
        <th>
            @Html.DisplayName("Kullanılan")
        </th>
        <th>
            @Html.DisplayName("Kalan")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hakedilenizin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullanilan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kalan)
            </td>


        </tr>
    }

</table>

<h2>Toplam İzin: @Model.Sum(c => c.kalan).ToString()</h2>