@model WSY.Models.AidatBorcVM

@{
    ViewBag.Title = "Borçlandır";
}
@if (ViewData["Message"] != null)
{
    <div id="loading" style="color: red; font-size: 25px; padding-bottom: 20px;">
        <span>Kaydedildi </span>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.FaizOran)
    

    <div class="panel panel-default">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Tutar)
                @Html.TextBoxFor(model => model.Tutar, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tutar)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BlokID)
                @Html.DropDownListFor(model => model.BlokID, (SelectList)ViewBag.BlokListe, "Tümü", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DaireID)
                @Html.DropDownListFor(model => model.DaireID, (SelectList)ViewBag.DaireListe, "Tümü", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(model => model.Faiz, new { @class = "form-control", @checked = "checked", @style = "height:auto;display:inline;" })
                @Html.LabelFor(model => model.Faiz, new { @class = "checkbox" })
                <strong><span class="text-error" style="margin-left: 20px" id="faizoran"></span></strong>
            </div>




        </div>
        <div class="col-lg-6">
            <span class="blink" style="font-size: 2em; color: red;">AİDAT BORÇLANDIRMASI YAPMADAN ÖNCE GEÇMİŞ AYA AİT ÖDEMELERİ GİRİN</span>
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" value="Borçlandır" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('.blink').each(function () {
                var elem = $(this);
                setInterval(function () {
                    if (elem.css('visibility') == 'hidden') {
                        elem.css('visibility', 'visible');
                    } else {
                        elem.css('visibility', 'hidden');
                    }
                }, 800);
            });
            $('#loading').show().delay(3000).fadeOut();
            $('#Tutar').val("");
            $('#DaireID').val("");
            $('#BlokID').val("");
            //$('#Faiz').attr('checked', false);
            $('#Faiz').on('click', function () {
                var thisCheck = $(this);
                if (thisCheck.is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("KontrolEt", "AyarYonet")',
                        data: { ayar: "Faiz Oranı" },
                        type: 'POST',
                        success: function (result) {
                            if (result.success == "") {
                                $('#faizoran').html("Faiz oranı belirtilmemiş");
                                $('#Faiz').attr('checked', false);
                            } else {
                                $('#faizoran').html("Faiz Oranı %" + result.success + " olarak kullanılacak.");
                            }
                        }
                    }).fail(function () {
                        alert("error");
                    });
                }
            });
            $('#BlokID').on('change', function () {
                var ID = $(this).val();
                var procemessage = "<option value='0'>Bekleyiniz !</option>";
                $('#DaireID').html(procemessage).show();
                $.ajax({
                    url: '@Url.Action("DaireListesi", "BlokYonet")',
                    data: { id: ID },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value=''>Tümü</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $('#DaireID').html(markup).show();
                    }
                });
            });
        });
    </script>
}

