@model ik.Models.Ozluk_AileFertleri

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ozluk_AileFertleri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adsoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozluk_Enum_Detay.degerad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozluk_Enum_Detay.degerad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.adsoyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
