@model IEnumerable<ik.Models.Takip>
@{
    var cls = "";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sontarih)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        cls = item.sontarih.Date < DateTime.Now.Date ? "btn-danger" : "btn-info";
        if (item.sontarih > DateTime.Now.AddDays(item.gostermegunu))
        {
            continue;
        }
        else
        {
            if (item.parentid == null)
            {
                <tr>
                    <td>
                        @if (item.Takip1.Any())
                        {
                            @Html.ActionLink(item.aciklama,"AltGorevler",new {id=item.id},new { @class = "btn " + cls })
                        @*<span>@item.aciklama</span>*@
                        }
                        else
                        {
                        <button type='button' style="font-size: 10px" class='btn @cls tamamla' id='@item.id'> @item.aciklama</button>
                        }


                        <img />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.sontarih)
                    </td>

                </tr>
            }
        }
    }

</table>


<script type="text/javascript">
    $(function () {
        $('.tamamla').each(function () {
            var btn = $(this);
            btn.on('click', function () {
                BootstrapDialog.confirm({
                    title: 'WARNING',
                    message: 'Görev  tamamlansın mı?',
                    type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                    closable: true, // <-- Default value is false
                    draggable: true, // <-- Default value is false
                    btnCancelLabel: 'İptal', // <-- Default value is 'Cancel',
                    btnOKLabel: 'Tamamla', // <-- Default value is 'OK',
                    btnOKClass: 'btn-success', // <-- If you didn't specify it, dialog type will be used,
                    callback: function (result) {
                        if (result) {
                            console.log(btn.attr('id'));
                            //SİLİNİYOR LOADİNG GÖSTER
                            btn.closest('td').append('<span>    Siliniyor... <img style="height=30px" class="loading" src="~/Content/Loading_icon.gif" ></span>');
                            $.ajax({
                                url: '@Url.Action("RutinTamamla")',
                                type: 'GET',
                                data: {
                                    'id': btn.attr('id')
                                },
                                success: function (result) {
                                    var rutindiv = $('#rutindiv');
                                   rutindiv.html(result);
                                    //if (result === true) {
                                    //    console.log("rutin özet tamamlanma success");
                                        $.notify({
                                            title: 'İşlem Durumu',
                                            message: 'İşlem Başarılı.'
                                        }, { type: 'success' });
                                    //   // btn.closest('tr').remove();
                                    //} else {
                                    //    console.log("rutin özet tamamlanma fail");
                                    //    $.notify({
                                    //        title: 'İşlem Durumu',
                                    //        message: 'İşlem Başarısız.'
                                    //    }, { type: 'error' });
                                    //}
                                }

                            });
                        } else {

                        }
                    }
                });
            });

        });

    })
</script>