@model ik.Models.Takip

<h3>Kaydı Silmek İstiyormusunuz?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ekleme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ekleme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamamlanma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamamlanma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sontarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sontarih)
        </dd>

    </dl>
</div>
