@model ik.Areas.KVKK.Models.KVKK_Sablon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/KVKK/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>KVKK_Sablon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.departmanID, "departmanID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("departmanID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departmanID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiselveriID, "kisiselveriID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kisiselveriID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kisiselveriID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.faaliyetID, "faaliyetID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("faaliyetID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.faaliyetID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.verikategoriID, "verikategoriID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("verikategoriID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.verikategoriID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ozelNitelik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ozelNitelik)
                    @Html.ValidationMessageFor(model => model.ozelNitelik, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.verisahibiID, "verisahibiID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("verisahibiID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.verisahibiID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.veriislemeamacID, "veriislemeamacID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("veriislemeamacID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.veriislemeamacID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hukukidayanakID, "hukukidayanakID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("hukukidayanakID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hukukidayanakID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yurticiaktarım, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.yurticiaktarım)
                    @Html.ValidationMessageFor(model => model.yurticiaktarım, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.veritransferaliciID, "veritransferaliciID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("veritransferaliciID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.veritransferaliciID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yurtdisiaktarim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.yurtdisiaktarim)
                    @Html.ValidationMessageFor(model => model.yurtdisiaktarim, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idaritedbirgrupID, "idaritedbirgrupID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idaritedbirgrupID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idaritedbirgrupID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tekniktedbirgrupID, "tekniktedbirgrupID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tekniktedbirgrupID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tekniktedbirgrupID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.verisaklamasuresiID, "verisaklamasuresiID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("verisaklamasuresiID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.verisaklamasuresiID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
