@model IEnumerable<ik.Areas.KVKK.Models.KVKK_Sablon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KVKK/Views/Shared/_Layout.cshtml";
}

<h2>Şablon</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KVKK_Departman.departman)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.KVKK_KisiselVeri.kisiselveriad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KVKK_Faaliyet.faaliyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KVKK_VeriKategori.verikategori)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.KVKK_1_VeriSahibi.verisahibi)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.ozelNitelik)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.KVKK_2_VeriIslemeAmaci.veriislemeamaci)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.KVKK_HukukiDayanak.hukukidayanak)
        </th>


      

        <th>
            @Html.DisplayNameFor(model => model.yurticiaktarim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KVKK_3_VeriTransferAlici.veritransferalicisi)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.yurtdisiaktarim)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.KVKK_5_VeriSaklamaSuresi.verisaklamasuresi)
        </th>



        @*<th>
                @Html.DisplayNameFor(model => model.KVKK_IdariTedbirGrup.id)
            </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.KVKK_TeknikTedbirGrup.id)
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_Departman.departman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_KisiselVeri.kisiselveriad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_Faaliyet.faaliyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_VeriKategori.verikategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_1_VeriSahibi.verisahibi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ozelNitelik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_2_VeriIslemeAmaci.veriislemeamaci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_HukukiDayanak.hukukidayanak)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.yurticiaktarim)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.KVKK_3_VeriTransferAlici.veritransferalicisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yurtdisiaktarim)
            </td>

          
          
            <td>
                @Html.DisplayFor(modelItem => item.KVKK_5_VeriSaklamaSuresi.verisaklamasuresi)
            </td>
            
            @*<td>
                    @Html.DisplayFor(modelItem => item.KVKK_IdariTedbirGrup.id)
                </td>*@

            @*<td>
                    @Html.DisplayFor(modelItem => item.KVKK_TeknikTedbirGrup.id)
                </td>*@

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
