@model IEnumerable<ik.Models.Ozluk_AileFertleri>
<style>
    .imglist {
        display: flex;
    }

    .fertimgdiv {
        padding-right: 10px;
    }

        .fertimgdiv:hover {
            border-style: solid;
            border-color: black;
        }

        .fertimgdiv > a.fertimgsil > img:hover {
            opacity: 1;
        }

        .fertimgdiv > a.thumba > img {
            height: 100px;
            float: right;
        }

        .fertimgdiv > a.fertimgsil > img {
            height: 20px;
            position: absolute;
            opacity: 0.6;
            transition: 0.3s;
        }
</style>


<table class="table">
    <tr>
        <th>
            Yakınlık Derecesi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adsoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogumYeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ozluk_Enum_Detay.degerad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumYeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumTarihi)
            </td>
            <td>
                <div data-id="@item.id" class="imglist">
                    @foreach (var resim in item.Ozluk_AileFertleriUrl)
                {
                        <div class="fertimgdiv">
                            <a class="thumba" target="_blank" href="/@resim.url">
                                <img src="/@resim.url" class="fertimg">
                            </a>
                            <a href="javascript:void(0)" class="fertimgsil">
                                <img src="/Content/delete-png.png"/>
                            </a>
                        </div>
                    }
                </div>
            </td>
            <td>
                <div class="uploadgoster">
                </div>
            </td>
        </tr>
    }
</table>





<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/DialogForm.js"></script>
<script src="~/Scripts/ozlukadmin.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/uploadscripts.js"></script>
<script type="text/javascript">
    $(function () {

        //targetimgdiv: silinecek olan resmi içeren div(resim idsini içerir)
        function deleted(targetimgdiv) {
            var dataid = targetimgdiv.attr("data-id");
            $.ajax({
                url: '@Url.Action("AileFertResimSil")',
                data: {
                    id: dataid
                },
                type: 'GET',
                success: function (result) {
                    if (result.Success === true)
                        targetimgdiv.remove();
                }
            });

        }
        //uploadresult: yüklenen dosyanın yolu,thumb yolu ve alt bilgisi,
        //targetimgdiv: aile ferdine ait dosyaların ama container div(fert idsini içerir)
        //resimdiv: aile ferdine yüklenen resmi içeren div (resim idsini içerir)
        function complete(uploadresult, targetimgdiv, resimdiv) {
            var fertid = targetimgdiv.attr("data-id");
            $.ajax({
                url: '@Url.Action("AileFertResimEkle")',
                type: 'GET',
                data: {
                    url: uploadresult.DosyaAdi,
                    fertid: fertid
                },
                success: function (result) {
                    if (result.Success === true) {
                        var id = result.ID;
                        resimdiv.attr('data-id', id);
                    }
                }
            });

        }
        var pid = $('#tcno').val();
        $('.uploadgoster').TopluDosyaYukle({
            uploadform: '@Url.Action("DosyaYukleDialog","Upload",new {Area=""})',///standart view
            uploadurl: '@Url.Action("Yukle", "Upload",new {Area=""})',///standart dosya uplaod işlemleri
            deleteurl: '@Url.Action("Sil", "Upload",new {Area=""})',///standart yüklenen dosyayı silme işlemleri
            kayitklasor: '\\IseGirisEvraklar\\' + pid,/// değişebilir
            targetimgdiv: 'imglist',
            uploadcomplete: complete,
            deletecomplete: deleted


        });
    });
</script>