@model IEnumerable<ik.Models.Ozluk_AileFertleri>



<table class="table">
    <tr>
        <th>
            Yakınlık Derecesi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adsoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogumYeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ozluk_Enum_Detay.degerad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumYeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumTarihi)
            </td>
            <td>
                <div  data-id="@item.id"  class="imglist" style="display: flex">
                    
                </div>
            </td>

            <td>
                <div class="uploadgoster">
                </div>
            </td>
        </tr>
    }
</table>


<div >
    <div class="imglist"></div>
    <div class="uploadgoster"></div>
</div>


<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/DialogForm.js"></script>
<script src="~/Scripts/ozlukadmin.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/uploadscripts.js"></script>
<script type="text/javascript">
    $(function () {

        function deleted(id) {
            console.log(id);
        }

        function complete(uploadresult, targetimgdiv) {

           // console.log(targetimgdiv);
            var resim = $('<div class="fert-url" style="">' +
                '<a target="_blank" href="/' + uploadresult.DosyaAdi + '" style="float:right">' +
                '<img width="100" src="/' + uploadresult.Thumb + '" class="card-img-top" alt="...">' +
                '</a>' +
                '<a  href="javascript:void(0)" class="resimsil" style="position: absolute">' +
                '<img  width="20" src="/Content/delete-png.png" />' +
                '</a></div>');
            targetimgdiv.append(resim);
            var fertid = targetimgdiv.attr("data-id");
            //db kaydetme işlemi yapılacak
            $.ajax({
                url: '@Url.Action("AileFertResimEkle")',
                type: 'GET',
                data: {
                    url: uploadresult.DosyaAdi,
                    fertid: fertid
                },
                success: function (result) {
                    if (result.Success === true) {
                        var id = result.ID;


                        var sil = resimdiv.find('.resimsil');
                        sil.attr('data-id', id);
                    }

                }
            });

        }

        var pid = $('#tcno').val();


        $('.uploadgoster').TopluDosyaYukle({
            uploadform: '@Url.Action("DosyaYukleDialog","Upload",new {Area=""})',///standart view
            uploadurl: '@Url.Action("Yukle", "Upload",new {Area=""})',///standart dosya uplaod işlemleri
            deleteurl: '@Url.Action("Sil", "Upload",new {Area=""})',///standart yüklenen dosyayı silme işlemleri
            deletecompleteurl: '',
            kayitklasor: '\\IseGirisEvraklar\\' + pid,/// değişebilir
            targetimgdiv: 'imglist',
            uploadcomplete: complete,
            deletecomplete: deleted


        });
    });
</script>