@model IEnumerable<ik.Models.IcraOdeme>
<style>
    .img-wrap {
        position: relative;
        display: inline-block;
        border: 1px red solid;
        font-size: 0;
    }

        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
            background-color: #FFF;
            padding: 5px 2px 2px;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            opacity: .2;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 50%;
        }

        .img-wrap:hover .close {
            opacity: 1;
        }
</style>

@Html.Hidden("tc", (string)ViewBag.tc)
@Html.Hidden("id", (int)ViewBag.id)
<button title="Yeni Ekle" class="btn" id="odemeekle"><i class="fas fa-file-alt"></i> Yeni Ekle</button>
<table id="icraodeme" class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Icralar.dosyano)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aciklama)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.dosya)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.thumb)
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody id="odemeliste">
        @foreach (var item in Model)
        {

            <tr data-id="@item.id" data-icraid="@item.icraid">

                @*<td class="dosyano">
                        @Html.DisplayFor(modelItem => item.Icralar.dosyano)
                    </td>*@
                <td class="tarih">
                    @Html.DisplayFor(modelItem => item.tarih)
                </td>
                <td class="tutar">
                    @Html.DisplayFor(modelItem => item.tutar)
                </td>
                <td class="aciklama">
                    @Html.DisplayFor(modelItem => item.aciklama)
                </td>

                <td class="thumb" data-id="@item.id" data-url="@item.dosya" data-thumb="@item.thumb">
                </td>

                <td class="upload upload-div">
                </td>
                <td>
                    <button title="Sil" class="btn sil"><i class="fa fa-trash"></i> Sil</button> <button title="Güncelle" class="btn duzenle"><i class="fa fa-edit"></i> Düzenle</button>
                </td>
            </tr>
        }
    </tbody>

</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/uploads.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
@Scripts.Render("~/bundles/ikdialog")
<script type="text/javascript">
    var root = "@(new Uri(Request.Url, Url.Content("~")))";
    var indirurl = '@Url.Action("Indir", "Upload", new {Area=""})';


    $(function () {

        function updateOdemeDurum() {
            ///<summary>icra durumunda ödenen ve kalan ı günceller</summary>
            //durumu sorgula ve html güncelle
            $('.odemedurum').html('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>');
            $.ajax({
                async: true,
                url: '@Url.Action("_İcraOdenenKalan")',
                type: 'GET',
                data: {
                    id:$('#id').val()
                },
                success:function(result) {
                    $('.odemedurum').html(result.Data);
                }
            });
        }

        function BindSil(sil,id) {
            sil.on('click', function() {
                BootstrapDialog.confirm({
                    title: 'kaydı Sil',
                    message: 'İcra Ödeme Kaydı Silinsin mi ?',
                    callback:function(result) {
                        if (result) {
                            $.ajax({
                                async:true,
                                url: '@Url.Action("_OdemeSil")',
                                type: 'get',
                                data: {id:id},
                                success:function(response) {
                                    if (response.Success === true) {
                                        sil.closest("tr").remove();

                                        updateOdemeDurum();
                                    }
                                }
                            });
                        }
                    }
                });
            });
        }

        function BindDuzenle(duzenle,id) {
            duzenle.on('click', function () {
                duzenle.ikDialog2({
                    formurl: '@Url.Action("_OdemeDuzenle")',
                    title: 'Düzenle',
                    data: {
                        id:id
                    },
                    complete:function(result) {
                        if (result.Success === true) {
                            var data = result.Data;
                            var tr = duzenle.closest("tr");
                            tr.find(".aciklama").html(data.aciklama);
                            tr.find(".tarih").html(moment(data.tarih).format("DD/MM/YYYY"));
                            tr.find(".tutar").html(data.tutar);

                            updateOdemeDurum();
                        }
                    }
                });
                //ik dialog çağırılacak
            });
        }

        function RenderThumb(tr, url, thumb, id) {
            var td = tr.find('.thumb');
            //console.log(url);
            if (url === '' || typeof (url) ==="undefined") return false;
            var div = $('<div class="img-wrap">');
            div.append('<a href="' + indirurl + '/?url=' + url + '"  target="_blank"><span class="close">&times;</span> <img src = "' + root + thumb + '" data-id="' + id + '"></a>').appendTo(td);
            tr.find('.upload').removeClass('upload');

            div.find('.close').on('click', function (e) {
            BootstrapDialog.confirm({
                message: 'Dosya Silinsin mi?',
                title: 'Dosya Sil',
                callback:function(result) {
                    if (result) {
                        var id = td.data('id');
                        console.log(id);
                        $.ajax({
                            async: true,
                            url: '@Url.Action("_OdemeDekontSil")',
                            type: 'GET',
                            data: {
                                id:id
                            },
                            success: function (response) {
                                if (response.Success === true) {
                                    console.log("dosya silindi");
                                    div.remove();
                                    tr.find('.upload-div').addClass('upload');
                                }
                            }
                        });
                    } else {}
                }

            });
            e.preventDefault();
        });

            return true;
        }

        function RenderRow(tr) {
            var td = tr.find('.thumb');
            var url = td.data("url");
            var thumb = td.data("thumb");
            var id = td.data("id");
            RenderThumb(tr, url, thumb, id);
            var sil = tr.find('.sil');
            BindSil(sil, id);
            var duzenle = tr.find('.duzenle');
            BindDuzenle(duzenle,id);
        }

        function dosyacomplete(result,uploaddiv) {
            console.table(result);
            console.table(uploaddiv);
            var tr=uploaddiv.closest('tr');
            RenderThumb(tr, result.DosyaAdi, result.Thumb);
            //database kaydı ne olacak
            var id = tr.find('.thumb').data("id");
            $.ajax({
                async: true,
                type: 'GET',
                url: '@Url.Action("_IcraOdemeDekontEkle")',
                data: {
                    id: id,
                    url: result.DosyaAdi,
                    thumb: result.Thumb
                },
                success:function(response) {

                }
            });
        }

        function UploadFile(tr) {
           tr.find('.upload').DosyaYukle({
                uploadform: '@Url.Action("DosyaYukleDialog","Upload",new {Area=""})',
                uploadurl: '@Url.Action("Yukle", "Upload",new {Area=""})',
                kayitklasor: '\\Icralar\\' + $('#tc').val(),
                targetimgdiv: 'dosyaliste',
                uploadcomplete: dosyacomplete

            });
        }

        function AddRow(tbody, row) {
            var aciklama = row.aciklama == null ? "" : row.aciklama;
            var tr=$('<tr data-id="' + row.id + '" data-icraid="' + row.icraid + '"><td class="tarih">' + moment(row.tarih).format("DD/MM/YYYY") + '</td><td class="tutar">' + row.tutar.toString().replace(".",",") + '</td><td class="aciklama">' +aciklama + '</td><td class="thumb" data-id="' + row.id +'" data-dosya="" data-thumb=""></td>' +
                '<td class="upload upload-div"></td><td><button title="Sil" class="btn sil"><i class="fa fa-trash"></i> Sil</button> <button title="Güncelle" class="btn duzenle"><i class="fa fa-edit"></i> Düzenle</button></td></tr>');
            tbody.append(tr);
            RenderRow(tr);
            UploadFile(tr);
        }

        $('.thumb').each(function () {
            var td = $(this);
            var tr = td.closest('tr');
            UploadFile(tr);
            RenderRow(tr);

        });

        $('#odemeekle').on("click", function() {
            var odeme = $(this);
          //  console.log($('#id').val())
            odeme.ikDialog2({
                formurl: '@Url.Action("_OdemeEkle")',
                title: 'İcra Ödemesi Ekle',
                data: {

                    id:$('#id').val()
                },
                complete:function(result) {
                    if (result.Success === true) {
                        var data = result.Data;
                        var tbody = $('#icraodeme > tbody');
                        AddRow(tbody, data);

                        updateOdemeDurum();
                    }
                }
            });
        });
        
    });
</script>
