@model IEnumerable<ik.Models.Maas_Is_Liste>

@{
    ViewBag.Title = "AyListeOlustur";
}

<h2>AyListeOlustur</h2>

<p>
    @Html.ActionLink("Yeni İş Ekle", "Create")
</p>


<ul class="tree list-group">
    @foreach (var item in Model.OrderBy(c => c.sira))
    {
        <li data-id="@item.id" data-sira="@item.sira" class="list-group-item maas_is">
            <input type="checkbox" checked/><span class="is_ad"> @item.ad </span><button type="button" class="pull-right"><span class="glyphicon glyphicon-plus"></span></button>
            @if (item.Maas_Is_Liste_Detay.Any())
            {
                <span class="badge">@item.Maas_Is_Liste_Detay.Count</span>
                <ul data-id="@item.id" class="list-group maas_is_alt">
                    @foreach (var it in item.Maas_Is_Liste_Detay)
                    {
                        <li data-child-id="@it.id" class="list-group-item maas_is_detay">@it.ad</li>
                    }
                </ul>
            }
        </li>
    }
</ul>

    @Html.Hidden("yil", (int)ViewBag.yil)
    @Html.Hidden("ay", (int)ViewBag.ay)
    <input id="isliste" type="submit" value="Kaydet"/>





@section scripts{
    <script type="text/javascript">
        $(function () {
            var isliste = [];
          
            $('#isliste').on('click', function () {
                //data hazırla
                $('.tree>li').each(function (index) {
                    var li = $(this);
                    //isliste[index]=li.attr("data-id");
                    var subli = li.find("> .maas_is_alt");
                    if (subli.length > 0) {
                        subli.find('.maas_is_detay').each(function (i) {
                            isliste.push([li.attr("data-id"), $(this).attr('data-child-id')]);
                        });
                    } else {
                        isliste.push([li.attr("data-id"),"0"]);
                    }
                   
                });
                console.log(isliste);
                $.ajax({
                    url:'@Url.Action("AyListeOlusturPost")',
                    type:'POST',
                    data: {
                        data:isliste,
                        yil:$('#yil').val(),
                        ay:$('#ay').val()
                    },success:function(result) {
                        if (result.Success == true) {
                            location.href = '@Url.Action("Index")';
                        } else {
                            //notif
                        }
                    }
                });

            });
           
          

        })
    </script>
}