@model IEnumerable<ik.Models.Kurul>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="kuruls" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adsoyad) 
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.tc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giristarih)
        </th>
        <th>Kurul</th>
        <th>
            @Html.DisplayNameFor(model => model.KurulGorevTip.ad)
        </th><th></th>
    </tr>
    @foreach (var item in Model) {
    <tr><td>
            @Html.DisplayFor(modelItem => item.adsoyad)</td>
       
        <td>
            @Html.DisplayFor(modelItem => item.tc)</td>
        <td>
            @Html.DisplayFor(modelItem => item.giristarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KurulGorevTip.KurulTip.ad)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.KurulGorevTip.ad)
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
           
        </td>
    </tr>
}

</table>
@section scripts{
    <script type="text/javascript">
        $(function() {
            function Adet(tableid) {
                var tablo = $('#' + tableid);
                var adet = tablo.find("tbody>tr").length - 1;
                tablo.find("tbody > tr:first >th:first").append('<span id="adet" class="badge badge-secondart">'+adet+'</span>');
            }

            Adet("kuruls");
        })
    </script>
}