@using ik.Models
@model IEnumerable<ik.Models.PersonelGrup>

@{
    ViewBag.Title = "PersonelGrup";
}
<style type="text/css">
    ul.source, ul.target {
        min-height: 50px;
        margin: 0px 25px 10px 0px;
        padding: 2px;
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        list-style-type: none;
        list-style-position: inside;
    }

    ul.source {
        border-color: #f8e0b1;
    }

    ul.target {
        border-color: #add38d;
    }

    .source li, .target li {
        margin: 5px;
        padding: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .source li {
        background-color: #fcf8e3;
        border: 1px solid #fbeed5;
        color: #c09853;
    }

    .target li {
        background-color: #ebf5e6;
        border: 1px solid #d6e9c6;
        color: #468847;
    }

    .sortable-dragging {
        border-color: #ccc !important;
        background-color: #fafafa !important;
        color: #bbb !important;
    }

    .sortable-placeholder {
        height: 40px;
    }

    .source .sortable-placeholder {
        border: 2px dashed #f8e0b1 !important;
        background-color: #fefcf5 !important;
    }

    .target .sortable-placeholder {
        border: 2px dashed #add38d !important;
        background-color: #f6fbf4 !important;
    }
</style>


<div class="row">
    <span id="message"></span>
    <div class="sideBySide">
        <div class="left  col-md-6">
            <h3>Personel Liste</h3>
            <ul id="personelListe" class="source connected"></ul>
        </div>
        <div class="right col-md-6">
            <div style="position: fixed">
                <h3>@ViewBag.grupad <span><input id="btnkaydet" type="button" value="Kaydet" class="btn btn-info right" /></span></h3>
                <ul class="target connected">
                    @foreach (var item in Model)
                    {
                        <li data-id="@item.personelid">@item.Personel.adsoyad</li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var gruplist = [];
           
            $('#btnkaydet').click(function() {
                var target = $('.target li').each(function(idx, li) {
                    gruplist.push($(this).attr("data-id"));
                });
                $.ajax({
                    type: "POST",
                    data: {
                        personels:gruplist,
                        grupid:"@ViewBag.grupid"
                        },
                    url: '@Url.Action("PersonelGrup")',
                    success: function(msg){
                      $('#message').html(msg.message);
                    }
                });
            });
           





            $.ajax({
                type: 'GET',
                url: '@Url.Action("PersonelListe","Grups")',
                data: {
                    grupid:@ViewBag.grupid
                    },
                success: function (response) {
                    target = $('#personelListe');
                    for (var i = 0; i < response.length; i++) {
                        target.append("<li data-id="+response[i].id+">" + response[i].adsoyad + "</li>");
                    }
                    target.append('</ul>');
                    $('.loading').remove();
                }
            });


            $(".source, .target").sortable({
                connectWith: ".connected"
            });
        });
    </script>
}
