@model IEnumerable<ik.Models.PersonelMesai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesai1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesai2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personel.adsoyad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(c=>c.id)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mesai1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mesai2)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Personel.adsoyad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
