@model IEnumerable<WSY.Models.HarcamaTanım>

@{
    ViewBag.Title = "Site Yönetimi - Harcama Listesi";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
    <li>> </li>
    <li class="active">Harcama Listesi</li>
</ul>


<div class="panel panel-default">
    <div class="panel-heading">
        Harcama Listesi
        <div class="pull-right">@Html.ActionLink("Yeni Harcama Tanımı", "Create", null, new { @class = "btn btn-primary btn-small" })</div>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.harcamaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.not)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.harcamaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.not)
                </td>
                <td>
                    
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.id },new{@class="btn btn-primary btn-small"})         
                  
                </td>
            </tr>
        }

    </table>
</div>
