@model IEnumerable<ik.Models.Takip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ekleme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tamamlanma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sontarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ekleme)
        </td>
        <td>
            @Html.Display("tamamlanma", item.tamamlanma.HasValue ? item.tamamlanma.Value.ToShortDateString() : "") 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sontarih)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
